.app {
  min-height: 100vh;
  background: rgb(168, 168, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet {
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.like-btn {
  padding: 10px;
  margin: 5px;
  background-color: dodgerblue;
  border: 1px;
  border-radius: 10px;
  color: white;
}
.like-btn:hover {
  background-color: darkcyan;
}